.detail {
    margin: 100px 300px;
}

.brand {
    font-size: 5rem;
}

.episode {
    color: var(--secondary-color);
}

.openingCrawl {
    margin-top: 20px;
    font-size: 1.25rem;
    color: var(--lightest-color)
}