.detail {
    margin: 100px 20%;
}

.brand {
    font-size: 5rem;
    animation: zoomout 5s cubic-bezier(.4,.82,.28,.72) 2s;
    animation-fill-mode: both;
    text-shadow: 0 0 1px var(--primary-color),0 0 2px var(--primary-color),0 0 5px var(--primary-color);
    color: var(--darkest-color)

}

.episode {
    color: var(--secondary-color);
}

.openingCrawl {
    margin-top: -35px;
    font-size: 1.5rem;
    color: var(--lightest-color);
    transform: perspective(30px) rotateX(2deg);

}

@media (max-width: 500px) {
    .brand {
        font-size: 3rem;
    }
}

@keyframes zoomout {
    from { transform: scale(1) }
    to { transform: scale(0) }
}
