.movieItem {
    background-color: var(--dark-color);
    color: var(--primary-color);
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    box-shadow: inset 0 0 20px var(--darkest-color);
    border: none;
    font-size: 1rem;
    font-weight: bolder;
    width: 400px;
}

.movieItem:hover {
    background-color: var(--mid-color);
    color: var(--primary-color-light);
}

@media (max-width: 500px) {
    .movieItem {
        width: 300px;
    }
}