.detail {
    margin: 100px 10%;
}

.brand {
    font-size: 5rem;
    animation: zoomout 5s cubic-bezier(.4,.82,.28,.72) 2s;
    animation-fill-mode: both;
}

.episode {
    color: var(--secondary-color);
}

.openingCrawl {
    margin-top: 20px;
    font-size: 1.25rem;
    color: var(--lightest-color)
}

@media (max-width: 500px) {
    .brand {
        font-size: 3rem;
    }
}

@keyframes zoomout {
    from { transform: scale(1) }
    to { transform: scale(0) }
  }
  